doctype html
html
  head
    meta(charset='utf-8')
    style.
      @media screen and (min-width: 480px) {
        body {
          background-color: lightyellow;
          width: 90vw;
          height: 90vh;
          margin: 0 auto;
          border: groove black;
        }
        #frame{
          margin: 0 auto;
          width:50%;
          height:50%;
          border:solid 1px;
        }
        #logo_img, #logo_frame, #form{
          width:100%;
          height:100%;
        }
      }
  body
    div#frame
      div#logo_frame
        img#logo_img(src='/logo.png')
      ul
        -for(var i=1; i <=5; i++)
          -var url = '/robby/'+i
          -var text = 'robby('+i+')'
          li
            a(href=url)
              =text
  #script_socket
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script.
      $(function(){
        var socket = io();
        var userInfo = {
          userName: "heo",
          userNick: "허돌프"
        }
        socket.emit('login', userInfo);
        socket.on('connected', function(connectedInfo){
          alert(connectedInfo.nick + ' connected');
        });
      });
      
